@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#root{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 40px;
  width: 100%;
  flex: 1 1 100%;
}
.navbar-item {
  flex: 1 0 25%;
  background-color: rgba(223, 139, 139, 0.36);
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar-txt {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration-line: none;
}